{% extends 'website/base.html' %}

{% block title %}
Dean Of Resources and Alumni Affairs
{% endblock %}

{% block content %}

<section class="content">
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical pointing menu width100">
          <h4 class="item block header side-h">
          Distinguished Alumni Awards
          </h4>
             <a href="/nomination">
              <div class="item">
		Criteria and Details
	      </div>
              </a>
             <div class="active item">
                Nomination Form
             </div>
        </div>
      </div>

      <div class="twelve wide column">
        <h4 class="ui top attached block header">
          Distinguished Alumni Awards - Form
        </h4>
        <div class="distinguishedForm">
	  {% if success == False %}
          	<form method="post" action="" enctype="multipart/form-data" class="ui form">
            	{% csrf_token %}
            	<div style="text-align:center">
			<h3>Details of the Nominee</h3>
		</div>
		{% for field in distinguishForm %}
              	<div class="field">
			{% for error in field.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
                	<label for="{{ field.auto_id }}">{{ field.label_tag }}
               	</label>
                	{{ field }}
              	</div>
            	{% endfor %}
		<br/><hr/><br/>
             	<div style="text-align:center">
			<h3>Details of the Nominator</h3>
		</div>
		{% for field in distinguishForm2 %}
              	<div class="field">
       			{% for error in field.errors %}
			<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
			</div>
			{% endfor %}
                <label for="{{ field.auto_id }}">{{ field.label_tag }}
                </label>
                {{ field }}
              	</div>
            	{% endfor %}
		<br/>
		<input type="checkbox" name="knowledge" value="knowledge" required>&nbsp&nbspI affirm that the information provided here is true to the best of my knowledge and should an information be found untrue, the nomination may be cancelled.
		<br/><br/>
		{% if errors or errors2 %}
			<div class="alert alert-danger">
			<strong>Please correct the errors above</strong>
			</div>
		{% endif %}
		<button class="distinguishedSubmit">Submit</button>
          	</form>
          {% else %}
		Successfully submitted the form
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
