{% extends 'website/base.html' %}

{% block title %}
Dean Of Resources and Alumni Affairs
{% endblock %}

{% block content %}
    <!-- Flickity HTML init -->
  <section class='main-section'>
    <div class="carousel hero main-carousel" >
      {% for slider in mSlider %}
        <div class="carousel-cell hero-cell">
          <img src="/media/{{ slider.image }}" alt-text="{{ slider.title }}"></img>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="news-section">
    <h2 class="ui header center aligned ">News and Announcements</h2>
    <div class="ui container">
      <div class="carousel news-carousel">
      {% for news in mNews %}
        <div class="carousel-cell news-cell">
          <div class="ui card">
            <div class="content">
              <a href='{{news.url}}' target='_blank' class="header">{{news.title}}</a>
              <div class="meta">{{news.publish}}</div>
              <div class="description">
                <p>{{news.short_description}}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>

  <section class="links-section">
    <div class="ui container">
      <div class="ui grid">
        <div class="eight wide column">
          <h4 class="ui top attached block header">
            Important Links
          </h4>
          {% for link in mLinks %}
          <div class="attached ui segment">
            <a href="{{ link.url }}">
            {{ link.title }}
            </a>
          </div>
          {% endfor %}
          <!--<div class="bottom attached ui segment">
            <a href="">
              Link
            </a>
          </div>-->
        </div>
        <div class="eight wide column">
          <h4 class="ui top attached block header">
            Upcoming Events
          </h4>
          <div class="bottom attached ui segment">
            <div class="ui link items divided relaxed">
              {% for event in mEvents %}
              <div class="item">
                <div class="ui tiny events-date">
                  <div class="event-date">{{ event.event_date|date:"d" }}</div>
                  <div class="event-month">{{ event.event_date|date:"M" }}</div>
                </div>
                <div class="content">
                  <div class="header">
                    {% if event.url %}
                        <a href="{{ event.url }}">
                        {{ event.title }}
                        </a>
                    {% else %}
                        {{ event.title }}
                    {% endif %}
                  </div>
                  <div class="description">
                    <p>
                    {{ event.short_description }}
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <h4 class="ui top attached block header">
            Past Events
          </h4>
          <div class="bottom attached ui segment">
            <div class="ui link items divided relaxed">
              {% for event in mEventsPast %}
              <div class="item">
                <div class="ui tiny events-date">
                  <div class="event-date">{{ event.event_date|date:"d" }}</div>
                  <div class="event-month">{{ event.event_date|date:"M" }}</div>
                </div>
                <div class="content">
                  <div class="header">
                    {% if event.url %}
                        <a href="{{ event.url }}">
                        {{ event.title }}
                        </a>
                    {% else %}
                        {{ event.title }}
                    {% endif %}
                  </div>
                  <div class="description">
                    <p>
                    {{ event.short_description }}
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}
